body{
    background-color: rgb(33, 34, 34);
}
@media (min-width:1000px){
    .a{
        top : -1%;
        font-weight: bold;
        position: fixed;
        height : 10px;
        width : 100%;
        color: white;
        display: grid;
        font-size: 100%;
        grid-template-columns: 10% 5% 5% 5% 5% 11% 5% 20% 16% 5% 10%;
        padding : 30px;
        z-index : 1;
        background-color: rgb(62, 61, 61);
    }
    .aa{
        position: relative;
        top : -30%;
        left : -20%;
        height : 90%;
    }
    .ab{
        position: relative;
        top : -20%;
        left : 20%;
        border : solid;
        background-color: orange;
        height  :30%;
        width  :60%;
        padding : 10px;
        border-color: orange;
        border-radius: 30px;
    }
    .b{
        position: relative;
        height : 30%;
        width : 100%;
    }
    .b img{
        width : 100%;
        height : 100%;
    }
    .c{
        color : white;
    }
    .ca{
        position: relative;
        left  : 1%;
    }
    .cb{ 
        border-radius: 10px;
        margin : 10px;
        column-gap: 15px;
        display : grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        height : 200px;
       
    }
    .cb img{
        border-radius: 10px;
        height : 100%;
        width : 100%;
        box-shadow: 1px 1px 5px orange;
    }
}
@media (min-width:600px) and (max-width:1000px){
    .a{
        font-weight: bold;
        position: fixed;
        height : 10px;
        width : 100%;
        color: white;
        display: grid;
        font-size: 100%;
        grid-template-columns: 10% 5% 5% 5% 5% 11% 5% 20% 16% 5% 10%;
        padding : 30px;
        z-index : 1;
    }
    .aa{
        position: relative;
        top : -30%;
        left : -20%;
        height : 90%;
    }
    .ab{
        position: relative;
        top : -20%;
        left : 20%;
        border : solid;
        background-color: orange;
        height  :30%;
        width  :60%;
        padding : 10px;
        border-color: orange;
        border-radius: 30px;
    }
    .b{
        position: relative;
        height : 30%;
        width : 100%;
    }
    .b img{
        width : 100%;
        height : 100%;
    }
    .c{
        color : white;
    }
    .ca{
        position: relative;
        left  : 1%;
    }
    .cb{ 
        border-radius: 10px;
        margin : 10px;
        column-gap: 15px;
        display : grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        height : 200px;
       
    }
    .cb img{
        border-radius: 10px;
        height : 100%;
        width : 100%;
        box-shadow: 1px 1px 5px orange;
    }
}
@media (max-width:600px){
    .a .aa{
        position: relative;
        left : 400%;
        height : 40px;
    }
    .a{
        color : white;
        display: grid;
        grid-template-columns: 10% 25% 20% 20% 45%;
        font-weight: bold;
    }
    .h2{
        position: relative;
        left : -10%;
        top : 120%;
        z-index: 1;
    }
    .h1,.ab,.ac,.ae{
        display: none;
    }
    .b{
        position: relative;
        top : 40px;
        width  :100%;
    }
    .b img{
        height: 100%;
        width: 100%;
    }
    .c{
        color: white;
    }
    .ca{
        position: relative;
        top : 10px;
    }
    .c .cb{
        display : flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 5px;
    }
    .cb img{
        width  :30%;
        height : 200px;
        border-radius: 10px;
        box-shadow: 0px 0px 3px orange;
    }
}