<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.codegnan.studentapp.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <display-name>studentwebsecure</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.codegnan.studentapp.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.codegnan.studentapp.servlets.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/add-student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.codegnan.studentapp.servlets.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/delete-student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentServlet</display-name>
    <servlet-name>EditStudentServlet</servlet-name>
    <servlet-class>com.codegnan.studentapp.servlets.EditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentServlet</servlet-name>
    <url-pattern>/edit-student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudentsServlet</display-name>
    <servlet-name>ViewStudentsServlet</servlet-name>
    <servlet-class>com.codegnan.studentapp.servlets.ViewStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentsServlet</servlet-name>
    <url-pattern>/view-students</url-pattern>
  </servlet-mapping>
</web-app>